* {
  padding: 0;
  margin: 0;
}
/* dark green: #3b4c2a,
    medium dark green -- #03321c,
   lighter-green--: #667540,
    med green: #93ad69,
    light green: #d0d7a2,
   cream--: #DCCEB9,
    pink --: #d6b8c7,
    maroon --: #6d0d18,
    black --: #111111,
    red --: #8d0d1b */

body {
  font-family: "Josefin Sans", serif;
  font-optical-sizing: auto;
  /* font-weight: ; */
  font-style: normal;
  background-color: white;
}

.layout {
  display: grid;
  grid-template-rows: 250px 1fr;
  grid-template-columns: 1fr;
  /* justify-items: center; */
}
.header {
  /* background-color: #3b4c2a; */
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  box-shadow: 5px;
  align-content: center;
  align-items: center;
  justify-items: center;
}

.title {
  grid-column: 2;
  font-size: 49px;
  color: #8a0c80;
  font-family: "Playwrite IN", serif;
  font-optical-sizing: auto;
  font-weight: 100px;
  font-style: normal;
}
.add {
  grid-column: 2;
  grid-row: 2;
}
button,
.add-book {
  margin-top: 20px;
  padding: 10px;
  padding-top: 15px;
  font-family: "Josefin Sans", serif;
  /* font-weight: bold; */
  font-size: 25px;
  background-color: #c911ba;
  border: none;
  box-shadow: 5px 5px;
}

.main {
  grid-row: 2;
  /* background-color: #dcceb9; */
  display: flex;
  gap: 28px;
  justify-content: center;
}

.newBook > a:link,
.newBook > a:visited {
  /* background-color: #93ad69; */
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.card {
  border: 2px solid black;
  /* background-color: #93ad69; */
  height: 300px;
  width: 200px;
  box-shadow: 5px 5px;
  padding: 15px;
}
.card-image {
  height: 300;
}
.modal-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
dialog#modal {
  box-shadow: 5px 5px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-48%, -49%);
}

form {
  display: grid;
  justify-content: center;
  align-self: center;
  height: 400px;
  width: 250px;
  box-shadow: 5px 5px;
}
label {
  padding-top: 30px;
}
p {
  margin: auto;
  font-size: 28px;
  font-weight: bold;
}
::backdrop {
  background-image: linear-gradient(#808080, #b2beb5);
  opacity: 80%;
}
