* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Josefin Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: white;
}

.layout {
  display: grid;
  grid-template-rows: 250px 1fr;
  grid-template-columns: 1fr;
}
.header {
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  box-shadow: 5px;
  align-content: center;
  align-items: center;
  justify-items: center;
}

.title {
  grid-column: 2;
  font-size: 49px;
  color: #8a0c80;
  font-family: "Playwrite IN", serif;
  font-optical-sizing: auto;
  font-weight: 100px;
  font-style: normal;
}
.add {
  grid-column: 2;
  grid-row: 2;
}
button,
.add-book,
#submit,
.card-remove {
  margin-top: 20px;
  padding: 10px;
  padding-top: 15px;
  font-family: "Josefin Sans", serif;
  font-size: 25px;
  background-color: #c911ba;
  border: none;
  box-shadow: 5px 5px;
}
.add-book,
#submit {
  background-color: #c911ba;
}

.card-remove,
.close-button {
  background-color: #e2f1f2;
}

.main {
  grid-row: 2;
  display: flex;
  gap: 28px;
  flex-wrap: wrap;
  font-size: 26px;
  justify-content: center;
}

.newBook > a:link,
.newBook > a:visited {
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.card {
  border: 2px solid black;
  height: 300px;
  width: 300px;
  box-shadow: 5px 5px;
  padding: 15px;
}
.card-title {
  font-size: 28px;
  font-weight: bold;
  padding-bottom: 10px;
}
.card-author {
  padding-bottom: 10px;
}
.card-read {
  background-color: #eccddd;
  height: 25px;
  margin-bottom: 10px;
  font-weight: bold;
}
.modal-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
dialog#modal {
  box-shadow: 5px 5px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-48%, -49%);
}

form {
  display: grid;
  justify-content: center;
  align-self: center;
  height: 400px;
  width: 250px;
  box-shadow: 5px 5px;
}
label {
  padding-top: 30px;
}
p {
  margin: auto;
  font-size: 28px;
  font-weight: bold;
}
::backdrop {
  background-image: linear-gradient(#808080, #b2beb5);
  opacity: 80%;
}
