.main {
  display: grid;
  grid-template-columns: 1fr 400px 1fr;
  grid-template-rows: 1fr;
}

form {
  grid-column: 2;
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: repeat(12, 1fr);
  justify-items: stretch;
  padding-bottom: 400px;
}
label {
  padding-top: 30px;
}
p {
  margin: auto;
  font-size: 28px;
  font-weight: bold;
}
